<style>
    .container {width:100%;margin:auto;}
    @media(min-width:600px) {.container {width: 80%;}}
    @media(min-width:768px) {.container {width: 60%;}}
    @media(min-width:1024px) {.container {width: 50%;}}
</style>

<div class="container">
<img src="https://media.licdn.com/dms/image/C4E12AQHL2WTyaHbhzQ/article-cover_image-shrink_600_2000/0/1597665112908?e=2147483647&v=beta&t=o3lvytRoUOAcbhWhoM4T4e_TC5JfdCpE98nUnfL8x7A"
    width="600" height="400">
<h2>Product name: </h2>
<form action="/image_result" method="post">
    <p><input type="text" name="q"></p>
    <p><input type="submit" value="Submit"></p>
</form>
</div>
